modules = ["nodejs-20", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["unzip", "imagemagick"]

[agent]
expertMode = true

[deployment]
run = ["npm", "run", "start"]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
SCALEWAY_API_KEY = "a3501cc3-1561-41e9-800a-17370f9b62f2"
VITE_CLARITY_PROJECT_ID = "uwqkwf3ff1"
PREDICTION_API_URL = "https://loretta-predict.replit.app"
ADMIN_PASSWORD = "loretta-admin-2026"
